.page {
  margin: 0 auto;
  padding: 28px auto 0;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  max-width: 1280px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
font-weight: inherit;
}

ul, ul li {
list-style: none;
}

img, svg {
	max-width: 100%;
	height: auto;
}

@media screen and (min-width: 910px) {
  .page {
   padding: 45px 0 0 0;
  }
}