.profile__profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

@media screen and (min-width: 910px) {
    .profile__profile-info {
      flex-direction: row;
      gap: 30px
    }
  }